#form-id
{
    text-align:center ;
    text-decoration: antiquewhite;
    font-family:sans-serif ;
    background-color: beige;
    padding-left: 60%;
       ;
    height:20% ;
    width:20% ;
    position: absolute;
    display
   

    
}
.btn
{
    background-color:aqua ;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: ;
}



.txt1
{
    font-size: medium;
    font-style: italic;
        
}

.txt2
{
    font-family: sans-serif;
}
 #div
 { 
    margin-right: 100px;
    margin-top:10px ;
    padding: 80px 10px;
    border-width:10 px;
    border-color: aqua;
    border-radius:40px;
    border-style: groove;
    text-align: right;
    font-style: italic;
 }
.h4
{
    color: royalblue;
    text-align: left;
      font-style: oblique;
      font-size: medium;
      font:40px monospace medium ;
      text-shadow:0mm; 
      display: inline;
      position: absolute;
      
      
}
/*  
.body
{
    background-image: url('imgg.jpg');
}